.imp_content{
}
.imp_content .banner{
    width: 820px;
    height: 380px;
    float: left;
}
.imp_content .new{
    width: 500px;
    height: 380px;
    float: right;

}
.imp_content .new .new_nav{
    height: 35px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e2e2;
}
.imp_content .new .new_nav ul{
    display: flex;
    justify-content: space-between;
    
    
}
.imp_content .new .new_nav li{
    /* width: 20%; */
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 300px;
    color: #1da6ba;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
}
.imp_content .new h3{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: #0da0b4;
    background-image: url(../../img/public_img/index-spr.png);
    background-repeat: no-repeat;
    background-position: 0px -450px;
}
.imp_content .new .new_item li{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e0e2e2;
    box-sizing: border-box;
    font-size: 14px;
}
.imp_content .new .new_item .new_icon{
    border: 1px solid #e9852d;
    color: #e9852d;
    padding: 4px;
    margin: 20px;
}
.imp_content .new .new_more{
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #e3e2e2;
    position: relative;
}
.imp_content .new .new_more>i{
    position: relative;
    left: 0;
}
.top_news>.new h3:hover{
    color: #bb9a6c;
}
.top_news>.new .new_item li:hover .new_c{
    color: #bb9a6c;
} 
.imp_content .new .new_more:hover{
    background-color: #dad8d8;
}
